@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'clash_regular';
    src: url('../fonts/clash_regular.otf') format('truetype');
}
@font-face {
    font-family: 'funnel_display';
    src: url('../fonts/funnel_display.ttf') format('truetype');
}